<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dickens?serverTimezone=UTC</property>
         <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <property name="connection.pool_size">100</property>

        <mapping class="models.groups.CourseModel"/>
        <mapping class="models.groups.GroupModel"/>
        <mapping class="models.groups.HistoryModel"/>
        <mapping class="models.people.Teacher"/>
        <mapping class="models.people.Member"/>
        <mapping class="models.general.Room"/>
        <mapping class="models.general.Building"/>
        <mapping class="models.languages.Language"/>
        <mapping class="models.groups.CourseType"/>
        <mapping class="models.school.SchoolClass"/>
        <mapping class="models.languages.Diploma"/>
        <mapping class="models.groups.HourModel"/>
        <mapping class="models.exams.MockExam"/>
        <mapping class="models.money.Revenue"/>

        <mapping class="models.exams.MockExamResultText"/>
        <mapping class="models.exams.MockExamResultNumeric"/>
        <mapping class="models.people.Student"/>
        <mapping class="models.exams.RealExam"/>
        <mapping class="models.exams.RealExamResult"/>
        <mapping class="models.general.Period"/>
        <mapping class="models.groups.GradingSystem"/>
        <mapping class="models.groups.GroupStudent"/>
        <mapping class="models.money.TeacherDebt"/>
        <mapping class="models.money.TeacherPayment"/>
        <mapping class="models.money.StudentDebt"/>
        <mapping class="models.money.StudentPayment"/>
        <mapping class="models.groups.Age"/>
        <mapping class="models.groups.Speed"/>
        <mapping class="models.general.Town"/>
        <mapping class="models.general.Suburb"/>
        <mapping class="models.general.Perfecture"/>
        <mapping class="models.school.Discipline"/>
        <mapping class="models.general.Month"/>

        <mapping class="models.evaluation.ReviewQuestionnaire"/>
        <mapping class="models.evaluation.ReviewQuestionnaireChapter"/>
        <mapping class="models.evaluation.ReviewQuestionnaireQuestion"/>
        <mapping class="models.interviews.PoolReviewQuestion"/>

        <mapping class="models.interviews.Pools"/>
        <mapping class="models.interviews.PoolChapter"/>
        <mapping class="models.interviews.PoolQuestion"/>
        <mapping class="models.interviews.PoolQuestionAnswer"/>
        <mapping class="models.interviews.TestSubmission"/>
        <mapping class="models.interviews.TestModel"/>

        <mapping class="models.interviews.InterViewStage"/>
        <mapping class="models.interviews.InterViewGrade"/>
        <mapping class="models.interviews.JobApplication"/>
        <mapping class="models.interviews.JobOpening"/>
        <mapping class="models.interviews.JobOpeningCourse"/>
        <mapping class="models.interviews.InterViewSchedule"/>

        <mapping class="models.groups.GroupRank"/>
        <mapping class="models.groups.CourseFee"/>
        <mapping class="models.groups.CourseWage"/>
        <mapping class="models.groups.CourseGrade"/>
        <mapping class="models.people.Absency"/>

        <mapping class="models.people.ParentsModel"/>
        <mapping class="models.groups.GroupTeachers"/>
        <mapping class="models.languages.Institut"/>

        <mapping class="models.money.PayRoll"/>
        <mapping class="models.money.PayRollAnalysis"/>
        <mapping class="models.money.PayRollCategory"/>
        <mapping class="models.money.PayRollGroupAnalysis"/>

        <mapping class="models.seminars.Seminars"/>
        <mapping class="models.seminars.SeminarsCategory"/>
        <mapping class="models.seminars.SeminarModules"/>

        <mapping class="models.money.DiscountModel"/>
        <mapping class="models.money.Discount"/>


    </session-factory>
</hibernate-configuration>