<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<body>
<section class="groupSection" layout:fragment="content">

    <table class="table table-bordered table-striped">
        <thead>
        <th>id</th>
        <th>Title</th>
        <th>Type</th>
        <th>Fee</th>
        <th>Wage</th>
        <th>#Groups</th>
        <th>#Students</th>
        <th>#Teachers</th>
        <th>Sum Payments</th>
        <th>#Hours</th>
        </thead>
        <tbody>
        <tr th:each="crs: ${courses}">
            <td th:text="${crs.id}" />
            <td th:text="${crs.title}" />
            <td th:text="${crs.courseTypeObj.title}" />
            <td th:text="${crs.latestFee}" />
            <td th:text="${crs.latestWage}" />
            <td th:text="${crs.numGroups}" />
            <td th:text="${crs.numStudents}" />
            <td th:text="${crs.numTeachers}" />
            <td th:text="${crs.sumPayments}" />
            <td th:text="${crs.sumHours}" />
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>