<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<body>
<section class="groupSection" layout:fragment="content">

    <table class="table table-bordered table-striped">
        <thead>
            <th>id</th>
            <th>Title</th>
        </thead>
        <tbody>
            <tr th:each="grp: ${groupList}">
                <td th:text="${grp.id}" />
                <td>
                    <a th:href="@{'/teacher/info/' + ${grp.id}}"><p th:text="${grp.title}"/></a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
</body>
</html>