<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<body>
<section class="groupSection" layout:fragment="content">

    <table class="table table-bordered table-striped">
        <thead>
            <th>id</th>
            <th>Title</th>
            <th>Speed</th>
            <th>Age</th>
            <th>Starts</th>
            <th>Ends</th>
            <th>#Students</th>
            <th>Hours</th>
            <th>Sum Payments</th>
            <th>Sum Debts</th>

        </thead>
        <tbody>
            <tr th:each="grp: ${groupList}">
                <td th:text="${grp.id}" />
                <td>
                    <a th:href="@{'/group/info/' + ${grp.id}}"><p th:text="${grp.title}"/></a>
                </td>
                <td th:text="${grp.speedObj.title}" />
                <td th:text="${grp.ageObj.title}" />
                <td th:text="${grp.created_at}" />
                <td th:text="${grp.ends_at}" />
                <td th:text="${grp.studentsNum}" />
                <td th:text="${grp.sumHours}" />
                <td th:text="${grp.paymentsSumStudents}" />
                <td th:text="${grp.remainingStudentDebt}" />



            </tr>
        </tbody>
    </table>
</section>
</body>
</html>
