<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<body>
<section class="groupSection" layout:fragment="content">

    <h2>Latinn</h2>
    <h5>Kicero</h5>
    <div class="row">
        <div class="col-9">

            <table class="table  table-sm table-striped table-bordered">
                <tbody>
                <tr>
                    <td>Started</td>
                    <td><p th:text="${createdAt}"></p> </td>
                    <td>Student Debt</td>
                    <td><p th:text="${sumStudentDebts}"></p></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td><p th:text="${totalMembers}"></p></td>
                    <td>Student Payments</td>
                    <td><p th:text="${sumStudentPayments}"></p></td>
                </tr>
                <tr>
                    <td>Speed</td>
                    <td><p th:text="${speed}"></p></td>
                    <td>Teacher Debt</td>
                    <td><p th:text="${sumTeacherDebts}"></p></td>
                </tr>
                <tr>
                    <td>Hours</td>
                    <td><p th:text="${sumHours}"></p></td>
                    <td>Teacher Payements</td>
                    <td><p th:text="${sumTeacherPayments}"></p></td>
                </tr>
                <tr>
                    <td>Wage</td>
                    <td><p th:text="${wage}"></p></td>
                    <td>Fee</td>
                    <td><p th:text="${fee}"></p></td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-5">


            <div class="alert alert-danger  alert-height" role="alert">
                <h5>Teacher Debts</h5>
            </div>

            <table class="table table-sm  table-striped table-bordered">
                <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Month</th>
                <th>Amount</th>
                </thead>
                <tbody>
                <tr th:each="tch: ${teacherDebts}">
                    <td th:text="${tch.entityId}" />
                    <td th:text="${tch.fullName}" />
                    <td th:text="${tch.monthTitle}" />
                    <td th:text="${tch.amount}" />
                </tr>

                </tbody>
            </table>
        </div>

        <div class="col-5">

            <div class="alert alert-danger  alert-height" role="alert">
                <h5>Student Debts</h5>
            </div>
            <table class="table table-sm  table-striped table-bordered">
                <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Month</th>
                <th>Amount</th>
                </thead>
                <tbody>
                    <tr th:each="std: ${studentsDebts}">
                        <td th:text="${std.entityId}" />
                        <td th:text="${std.fullName}" />
                        <td th:text="${std.monthTitle}" />
                        <td th:text="${std.amount}" />
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


    <!---------------------------------------->


    <div class="row">
        <div class="col-5">

            <div class="alert alert-success  alert-height" role="alert">
                <h5>Teacher Payments</h5>
            </div>

            <table class="table table-sm  table-striped table-bordered">
                <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Month</th>
                <th>Amount</th>
                </thead>
                <tbody>
                    <tr th:each="tchp: ${teacherPayments}">
                        <td th:text="${tchp.entityId}" />
                        <td th:text="${tchp.fullName}" />
                        <td th:text="${tchp.monthTitle}" />
                        <td th:text="${tchp.amount}" />
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-5">
            <div class="alert alert-primary alert-height" role="alert">
                <h5>Student Payments</h5>
            </div>

            <table class="table table-sm  table-striped table-bordered">
                <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Month</th>
                <th>Amount</th>
                </thead>
                <tbody>
                <tr th:each="stdp: ${studentsPayments}">
                    <td th:text="${stdp.entityId}" />
                    <td th:text="${stdp.fullName}" />
                    <td th:text="${stdp.monthTitle}" />
                    <td th:text="${stdp.amount}" />
                </tr>


                </tbody>
            </table>

        </div>
    </div>


    <!---------------------------------------->
    <h5>Students list</h5>

    <div class="row">
        <div class="col-10">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                <th>id</th>
                <th>Name</th>
                <th>Joined</th>
                <th>Dropped</th>
                <th>Payed</th>
                <th>Debt</th>
                </thead>
                <tbody>
                <tr th:each="std: ${studentsList}">
                    <td th:text="${std.studentId}" />
                    <td th:text="${std.fullName}" />
                    <td th:text="${std.joined}" />
                    <td th:text="${std.dropped}" />
                    <td th:text="${std.sumPayed}" />
                    <td th:text="${std.sumOwns}" />
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <h5>Courses History</h5>
    <div class="row">
        <div class="col-10">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                <th>Started</th>
                <th>Duration</th>
                <th>Room</th>
                <th>Fee</th>
                <th>Wage</th>
                </thead>
                <tbody>
                <tr th:each="hr: ${history}">
                    <td th:text="${hr.started}" />
                    <td th:text="${hr.duration}" />
                    <td th:text="${hr.roomName}" />
                    <td th:text="${hr.fee}" />
                    <td th:text="${hr.wage}" />
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
</body>
</html>