<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<body>
<section class="groupSection" layout:fragment="content">
    <form action="#" th:action="@{/students}" th:object="${greeting}" method="post">
        <div class="row">
            <div class="col-4 form-group">
                <select class="form-control" id="pagesSel">
                    <option value="5">Per Page</option>
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="100">100</option>
                </select>
            </div>
            <a th:href="@{page/${currentPage}/perPage/5}">5</a>

            <div class="col-4 offset-2">
                <button type="submit">Update</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <thead>
            <th>id</th>
            <th>Name</th>
            <th>Registration Date</th>
            <th>#Groups</th>
            <th>Sum Payments</th>
            <th>Sum Debts</th>
            <th>Last Payed</th>
        </thead>
        <tbody>
        <tr th:each="std: ${students}">
            <td th:text="${std.id}" />
            <td>
                <a th:href="@{'/student/info/' + ${std.id}}"> <p th:text="${std.member.name}" /> <p th:text="${std.member.surname}" />  </a>
            </td>
            <td th:text="${std.member.created_at}" />
            <td th:text="${std.numGroups}" />
            <td th:text="${std.totalPayed}" />
            <td th:text="${std.remainingDebt}" />
            <td th:text="${std.lastPaymentDate}" />

        </tr>
        </tbody>
        </table>
</section>
</body>
</html>