<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<body>
<section class="groupSection" layout:fragment="content">



    <div class="row">
        <div class="col-9">

            <table class="table  table-bordered">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td><p th:text="${fullName}" /></td>
                    <td>Address</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td></td>
                    <td>Email</td>
                    <td></td>
                </tr>
                <tr>
                    <td>#Groups</td>
                    <td><p th:text="${groups.size()}" /></td>
                    <td>Last payed</td>
                    <td><p th:text="${lastPayed}"></p></td>
                </tr>
                <tr>
                    <td>Total Payed</td>
                    <td><p th:text="${totalPayed}"></p></td>
                    <td>Remaining Debt</td>
                    <td><p th:text="${remainDebt}"></p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <table class="table table-bordered table-stripped">
                <thead>
                <th>Name</th>
                <th>Phone</th>
                </thead>
                <tbody>
                <tr th:each="prn: ${parents}">
                    <td th:text="${prn.name}" />
                    <td th:text="${prn.phone}" />
                </tr>

                </tbody>
            </table>
        </div>
    </div>


    Groups
    <div class="row">
        <div class="col-9">
            <table class="table table-bordered table-stripped">
                <thead>
                <th>id</th>
                <th>Group</th>
                <th>Joined</th>
                <th>Dropped</th>
                </thead>
                <tbody>
                <tr th:each="g: ${groups}">
                    <td th:text="${g.groupId}" />
                    <td th:text="${g.courseName}" />
                    <td th:text="${g.joined}" />
                    <td th:text="${g.dropped}" />
                </tr>

                </tbody>
            </table>
        </div>
    </div>


    Payments and Debts
    <div class="row">
        <div class="col-5">
            <table class="table table-bordered table-stripped">
                <thead>
                <th>id</th>
                <th>Group</th>
                <th>Payed</th>
                <th>period</th>
                </thead>
                <tbody>
                <tr th:each="pay: ${payments}">
                    <td th:text="${pay.entityId}" />
                    <td th:text="${pay.courseName}" />
                    <td th:text="${pay.amount}" />
                    <td th:text="${pay.monthTitle}" />
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-5">
            <table class="table table-bordered table-stripped">
                <thead>
                <th>id</th>
                <th>Group</th>
                <th>Debts</th>
                <th>period</th>
                </thead>
                <tbody>
                <tr th:each="db: ${debts}">
                    <td th:text="${db.entityId}" />
                    <td th:text="${db.courseName}" />
                    <td th:text="${db.amount}" />
                    <td th:text="${db.monthTitle}" />
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
</body>
</html>