<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">

<body>
<section class="groupSection" layout:fragment="content">


    <div class="row">
        <div class="col-5">

            <div class="alert alert-danger  alert-height" role="alert">
                <h5>Debts</h5>
            </div>

            <table class="table table-sm  table-striped table-bordered">
                <thead>
                <th>Course</th>
                <th>Month</th>
                <th>Amount</th>
                </thead>
                <tbody>
                <tr th:each="dbt: ${debts}">
                    <td th:text="${dbt.courseName}" />
                    <td><p th:text="${dbt.monthTitle}" /> <p th:text="${dbt.year}" /></td>
                    <td th:text="${dbt.amount}" />
                </tr>


                </tbody>
            </table>
        </div>


        <div class="col-5">

            <div class="alert alert-success  alert-height" role="alert">
                <h5>Payments</h5>
            </div>

            <table class="table table-sm  table-striped table-bordered">
                <thead>
                <th>Course</th>
                <th>Month</th>
                <th>Amount</th>
                </thead>
                <tbody>
                <tr th:each="tchp: ${payments}">
                    <td th:text="${tchp.courseName}" />
                    <td th:text="${tchp.monthTitle}" />
                    <td th:text="${tchp.amount}" />
                </tr>


                </tbody>
            </table>
        </div>

    </div>


    <!-- timetable render -->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-3" th:each="dh: ${days}">
                <div class="course-div header"><p th:text="${dh}"/></div>
            </div>
        </div>

        <div class="row flex-nowrap" th:each="record: ${timetabling}">
            <div class="col-3 card-course" th:each="course: ${record}">
                <div class="card card-block"><p th:text="${course}"/></div>
            </div>
        </div>


    </div>



</section>
</body>
</html>