<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<body>
<section class="groupSection" layout:fragment="content">

    <table class="table table-bordered table-striped">
        <thead>
        <th>id</th>
        <th>Name</th>
        <th>Registration Date</th>
        <th>#Groups</th>
        <th>#Courses</th>
        <th>Sum Payments</th>
        <th>Sum Debts</th>
        </thead>
        <tbody>
        <tr th:each="tch: ${teachers}">
            <td th:text="${tch.id}" />
            <td>
                <a th:href="@{'/teacher/info/' + ${tch.id}}"> <p th:text="${tch.member.name}" /> <p th:text="${tch.member.surname}" />  </a>
            </td>
            <td th:text="${tch.member.created_at}" />
            <td th:text="${tch.numGroups}" />
            <td th:text="${tch.numCourses}" />
            <td th:text="${tch.totalPayed}" />
            <td th:text="${tch.remainingDebt}" />
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>