<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">

<body>
<section class="groupSection" layout:fragment="content">

    <div class="row">
        <div class="col-4">
            <select id="courseTypesSel">
                <option value="0">All</option>
                 <option th:each="crsTyp : ${courseTypes}" th:value="${crsTyp.id}" th:text="${crsTyp.title}"></option>
            </select>
        </div>
        <div class="col-4">
            <select id="classesSel">
                <option value="0">All</option>
                <option th:each="kls : ${classes}" th:value="${kls.id}" th:text="${kls.title}"></option>
            </select>
        </div>
        <div class="col-4">
            <select id="disciplinesSel">
                <option value="0">All</option>
                <option th:each="dsc : ${disciplines}" th:value="${dsc.id}" th:text="${dsc.name}"></option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <select id="agesSel">
                <option value="0">All</option>
                <option th:each="ag : ${ages}" th:value="${ag.id}" th:text="${ag.title}"></option>
            </select>
        </div>
        <div class="col-4">
            <select id="speedsSel">
                <option value="0">All</option>
                <option th:each="spd : ${speeds}" th:value="${spd.id}" th:text="${spd.title}"></option>
            </select>
        </div>
        <div class="col-4">
            <select id="disciplinesSel">
                <option value="0">All</option>
                <option th:each="bld : ${buildings}" th:value="${bld.id}" th:text="${bld.name}"></option>
            </select>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-3" th:each="dh: ${days}">
                <div class="course-div header"><p th:text="${dh}"/></div>
            </div>
        </div>

        <div class="row flex-nowrap" th:each="record: ${timetabling}">
            <div class="col-3 card-course" th:each="course: ${record}">
                <div class="card card-block courseBlock"><p th:text="${course}"/></div>
            </div>
        </div>


    </div>

</section>
</body>
</html>
